#Ignore everything in the bin, obj, and .git folders
"Chips Challenge/Debug"
"Chips Challenge/Release"
Debug/
Release/
ipch/
.git/

#Ignore anything ending in .user or .suo
*.user
*.suo
*.sdf
*.opensdf